body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  border: 2px outset black;
}
.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.head-line svg {
  width: 430px;
}
.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}
.menus button {
  border: none;
  background: none;
  margin: 5px;
}
.menus button:hover {
  background-color: bisque;
}
.news-img-size {
  max-width: 100%;
  max-height: 250px;
}
.news {
  border-bottom: 2px solid black;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}
.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}
.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-menu-list button:hover {
  background-color: bisque;
  border-radius: 3px;
}

.fa-magnifying-glass {
  font-size: 25px;
  margin-top: 2px;
}
#search-input {
  border-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 2px;
}
#search-button {
  position: relative;
  right: 3px;
  bottom: 2px;
}

@media (min-width: 600px) {
  .icon-button {
    visibility: hidden;
  }
}
@media (max-width: 600px) {
  .menus {
    display: none;
  }
  .icon-button {
    font-size: 25px;
    position: relative;
    left: -2px;
    margin-top: 2px;
  }
}
